/* Fundal general */
body {
    background-color: #f0f8ff; /* Fundal albastru deschis */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Containere pentru login și secțiuni */
  .login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Înalțime completă pentru centrare verticală */
    background-color: #e0f7fa; /* Un fundal ușor diferit în interior */
  }
  
  .bg {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbră pentru evidențiere */
    width: 80%;
    max-width: 600px; /* Fixăm o lățime maximă */
  }
  
  /* Stil pentru titlu */
  .logo_text  {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; /* Face textul majuscule */
  }
  
  /* Stil pentru paragraful informativ */
  .form_label  {
    font-size: 1.2rem;
    color: #34495e;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Opțional: Stiluri adiționale */
  a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }